DJANGO_SECRET_KEY=change-this-before-production
KUBERNETES_TOKEN_ENCRYPTION_KEY=g5FKpOvIsoIC3NhxHPq9_Wh-Vy2WQ6P4DU83N8uoFQ=
KUBERNETES_VERIFY_SSL=false
KUBERNETES_CA_CERT=
APP_STATUS_CACHE_URL=
APP_STATUS_CACHE_TTL=60
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
